/* MEDIA QUERY MEDIA QUERY*/
/* -413 */
@media (max-width: 413px) {
  header {
    background-color: #0a2947;
}

.navegador {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;    
}


.menuNavegador {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-self: flex-start;
    margin-bottom: 0rem;
    padding-left: 0rem;
}

.opcionesNav {
    list-style: none;
    a {
        font-size: 1.4rem;
        text-decoration: none;
        color:#edeeef
    }
}






  /* ANIMACION MENU */
  .inicio {
    transition: transform 1.3s;

  }

  .inicio:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  .nosotros {
    transition: transform 1.3s;
  }

  .nosotros:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  .venta {
    transition: transform 1.3s;
  }

  .venta:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  .alquileres {
    transition: transform 1.3s;
  }

  .alquileres:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  .contacto {
    transition: transform 1.3s;
  }

  .contacto:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }



  /* MAPA */
  .tituloMapa {
    font-size: 1.5rem;

  }

  /* FOOTER */
  .logosFooter {
    height: 4vh;
    width: 12vw;
  }

  .footer {
    display: -ms-grid;
    display: grid;
    background-color: #0f2f56;
    font-size: 1vh;
    padding: 0.2rem;
    margin: 1rem;
    height: 12vh;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: " irArriba irArriba"
      " whatsapp instagram  "
      "email  desarrolladoPor";
  }

  .instagram {
    grid-area: instagram;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: right;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.7rem;
  }

  .logoInstagram {
    height: 0.7rem;
  }

  .whatsapp {
    -ms-grid-column-span: 3;
    grid-area: whatsapp;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: left;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.7rem;
  }

  .logoWhatsapp {
    height: 0.7rem;
  }

  .email {
    -ms-grid-column-span: 2;
    grid-area: email;
    -ms-flex-item-align: left;
    align-self: left;
    justify-self: left;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.7rem;
  }

  .logoEmail {
    height: 0.7rem;
  }

  .irArriba {
    text-align: center;
    height: auto;
    grid-area: irArriba;
  }

  .flechaArriba {
    color: #edeeef;
    text-decoration: none;
    text-align: center;
    height: auto;
  }



  .desarrolladoPor {
    height: auto;
    grid-area: desarrolladoPor;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    font-size: 0.8vh;
    
}


footer p {
    font-size: 1rem;
}

  .footer a {
    text-decoration: none;
    color: #edeeef;
    text-align: left;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer a img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  /* ANIMACION FOOTER */

  .instagram a {
    transition: 1s;

  }

  .instagram a:hover {
    transform: scale(1.1, 1.1) translateX(15px);
    color: violet;
  }

  .whatsapp a {
    transition: 1s;
  }

  .whatsapp a:hover {
    transform: scale(1.1, 1.1) translateX(15px);
    color: green;
  }

  .email a {
    transition: 1s;
  }

  .email a:hover {
    transform: scale(1.1, 1.1) translateX(15px);
    color: red;

  }

  .irArriba a svg {
    transition: 1s;

  }

  .irArriba a svg:hover {
    transform: scale(2, 2);


  }

  /* NOSOTROS */
  .serviciosBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1rem;
    padding: 0rem;
    background-color: #edeeef;
    width: 80vw;
    height: auto;
  }

  .fotoBox {
    padding-left: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 4px 0px 0px 4px;
    background-color: #edeeef;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    height: 35vh;
    width: 80vw;
  }

  .fotoServicios {
    height: 30vh;
    width: 70vw;
    border-radius: 8px;
  }

  .servicios {
    display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   padding: inherit;
   background-color: #edeeef;
   border-radius: 8px;
   height: auto;
   width: 80vw;

   }

   .servicios h3 {
     font-family: 'Montserrat', sans-serif;
     font-size: 2.5rem;
     text-align: center;
     font-style: bold;
   }

   .listaServicios {
     font-size: 1.3rem;
     padding: 0.5rem;
     height: auto;
     width: 80vw;
     text-decoration: none;
   }

   .listaServicios li {
     padding: 0.5rem 1rem 0.5rem 1rem;
     list-style: none;
   }

   .nosotrosBox {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     align-content: center;
     margin-left: 2rem;
     margin-right: 2rem;
     margin-bottom: 1rem;
     padding: unset;
     background-color: #edeeef;
     height: auto;
     width: fit-content;
     border-radius: 4px 4px 4px 4px;

     div {
       height: auto;
       width: auto;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       align-content: center;
       margin: 1rem;

       p {
         font-size: 1.3rem;
         padding: 00.5rem;
         width: auto;
         max-height: fit-content;
         min-height: 12vh;
       }

     }


   }
  .fotosNos {
    height: 30vh;
    width: 80vw;
    padding: 1rem 1rem;
    border-radius: 8px;
    -webkit-animation-name: fotosNos;
    animation-name: fotosNos;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  .textoNos {
    font-size: 1.5rem;
    padding: 00.5rem 0.5rem;
  }





  /* CONTACTO */
  .seccionContacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 75vh;
    width: 95vw;
    background-color: #0f2f56;
    justify-content: space-between;
    align-self: flex-start;
    align-content: flex-start;
  }

  .nuestrosDatos {
    display: inline-flex;
    flex-direction: column;
    height: 30vh;
    width: 80vw;
    border-radius: 8px;
    justify-content: space-evenly;
    align-self: center;
    align-content: center;

    }

    .horariosContacto {
      height: 9vh;
      width: 80vw;
      padding: 0.5rem;
      font-size: 1.5rem;
      -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
    }

    .telefonoContacto {
      height: 5vh;
      width: 80vw;
      padding: 0.5rem;
      font-size: 1.5rem;
      -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
    }

    .emailContacto {
      height: 5vh;
      width: 80vw;
      padding: 0.5rem;
      font-size: 1.5rem;
      -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
    }

    .formulario {
      border-radius: 8px 8px 8px 8px;
      padding: 0.5rem;
      width: 80vw;
      height: 80vh;
      margin: 1rem;
      background-color: #0f2f56;
      color: #edeeef;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: center;
      align-content: center;

    }

    .nombreConsulta {
      grid-area: nombre;
      margin: 0rem;
      border-radius: 4px;

      label {
        font-size: 1.5rem;
      }
    }

    .telefonoConsulta {
      grid-area: telefono;
      margin: 0rem;
      border-radius: 4px;

      label {
        font-size: 1.5rem;
      }
    }

    .emailConsulta {
      grid-area: email;
      margin: 0rem;
      border-radius: 4px;

      label {
        font-size: 1.5rem;
      }
    }

    .consulta {
      grid-area: consulta;
      margin: 0rem;
      border-radius: 4px;

      label {
        font-size: 1.5rem;
      }
    }

    .consulta textarea {
      width: 70vw;
    }

    .enviar {
      font-family: 'Montserrat', sans-serif;
      grid-area: enviar;
      padding: 0.3rem 1rem;
      border-radius: 4px;
      font-size: 1rem;
    }



    /* Animaciones Formulario */


    .nombreConsulta :hover {
      transform: scale(1.1, 1.1);
    }

    .telefonoConsulta :hover {
      transform: scale(1.1, 1.1);
    }

    .emailConsulta :hover {
      transform: scale(1.1, 1.1);
    }

    .consulta :hover {
      transform: scale(1.1, 1.1) translateY(5px);
    }

    .enviar :hover {
      transform: scale(1.1, 1.1);
    }

    /* BREADCRUMBS */
    .breadcrumb {
      padding: 1rem 1.3rem;
      list-style: none;
      background-color: #edeeef;
    }

    .breadcrumb li {
      display: inline;
      font-size: 1.3rem;
    }

    .breadcrumb li+li:before {
      padding: 0.3rem;
      color: #0a2947;
      content: "/\00a0";
    }

    .breadcrumb li a {
      color: #0a2947;
      text-decoration: none;
      transition: transform 1s;
    }

    /* ANIMACION */


    .breadcrumb li:hover {
      transform: scale(1.05, 1.05);
    }

    /* ALQUILERES */
    .seccionAlquileres {
      padding: 3rem;
      background-color: #0f2f56;
    }

    /* VENTAS */


    .seccionVentas {
      padding: 3rem;
      background-color: #0f2f56;

    }

    .titulo-producciones {
      font-size: 2rem;
    }

    .texto-producciones {
      font-size: 1.5rem;
    }

    .botonVisitar {
      background-color: #0a2947;
      border: #0f2f56;
      font-size: 1.2rem;
    }


    /* VISTA PROPIEDADES */
    .propiedades {
      background-color: #0a2947;
      border-radius: 8px;
      margin: 1rem auto 1rem auto;
      padding: 1rem !important;
      height: auto;
      width: 80vw;
    }

    .descripcionPropiedades {
      font-size: 1.3rem;
      background-color: #0f2f56;
      color: #edeeef;
      width: 80vw;
      height: auto;
      margin: auto;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-content: center;
      align-items: flex-start;

      ul {
        margin-left: 2rem;
        list-style: circle;
        height: auto;
        width: 60vw;

        li {
          padding: 0.5rem 0rem;
        }
      }

      p {
        margin: 0;
        padding: 1rem;
        height: auto;
        width: 80vw;

      }
    }

    strong {
      font-weight: 700;
    }



    /* FORMULARIO PROPIEDADES */
    .formularioPropiedades {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      max-height: 100%;
      height: auto;
      width: auto;
      justify-content: space-between;
      align-items: flex-start;
      align-content: center;
      background-color: #0f2f56;
      border-radius: 8px;
      margin: 1rem auto;

    }

    .nombreConsultaPropiedades {
      font-family: 'Montserrat', sans-serif;
      color: #edeeef;
      font-size: 1.3rem;
    }

    .telefonoConsultaPropiedades {
      font-family: 'Montserrat', sans-serif;
      color: #edeeef;
      font-size: 1.3rem;
    }

    .consultaPropiedades {
      font-family: 'Montserrat', sans-serif;
      color: #edeeef;
      font-size: 1.3rem;
      width: 70vw;
    }

    .enviarPropiedades {
      font-family: 'Montserrat', sans-serif;
      color: #edeeef;
      font-size: 1.3rem;
      align-self: center;
    }
}

/* MEDIA 414 A 539 */
@media screen and (max-width: 553px) and (min-width: 414px) {
  header {
    background-color: #0a2947;
  }

  .navegador {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
  }


  .menuNavegador {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-self: flex-start;
    margin-bottom: 0rem;
    padding-left: 0rem;
  }

  .opcionesNav {
    list-style: none;

    a {
      font-size: 1.7rem;
      text-decoration: none;
      color: #edeeef
    }
  }






  /* ANIMACION MENU */
  .inicio {
    transition: transform 1.3s;

  }

  .inicio:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  .nosotros {
    transition: transform 1.3s;
  }

  .nosotros:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  .venta {
    transition: transform 1.3s;
  }

  .venta:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  .alquileres {
    transition: transform 1.3s;
  }

  .alquileres:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  .contacto {
    transition: transform 1.3s;
  }

  .contacto:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }



  /* MAPA */
  .tituloMapa {
    font-size: 1.5rem;

  }

  /* FOOTER */
  .logosFooter {
    height: 4vh;
    width: 12vw;
  }

  .footer {
    display: -ms-grid;
    display: grid;
    background-color: #0f2f56;
    font-size: 1vh;
    padding: 0.2rem;
    margin: 1rem;
    height: 12vh;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: " irArriba irArriba"
      " whatsapp instagram  "
      "email  desarrolladoPor";
  }

  .instagram {
    grid-area: instagram;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: right;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
  }

  .logoInstagram {
    height: 1rem;
  }

  .whatsapp {
    -ms-grid-column-span: 3;
    grid-area: whatsapp;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: left;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
  }

  .logoWhatsapp {
    height: 1rem;
  }

  .email {
    -ms-grid-column-span: 2;
    grid-area: email;
    -ms-flex-item-align: left;
    align-self: left;
    justify-self: left;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
  }

  .logoEmail {
    height: 1rem;
  }

  .irArriba {
    text-align: center;
    height: auto;
    grid-area: irArriba;
  }

  .flechaArriba {
    color: #edeeef;
    text-decoration: none;
    text-align: center;
    height: auto;
  }



  .desarrolladoPor {
    height: auto;
    grid-area: desarrolladoPor;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    font-size: 0.8vh;

  }


  footer p {
    font-size: 1rem;
  }

  .footer a {
    text-decoration: none;
    color: #edeeef;
    text-align: left;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer a img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  /* ANIMACION FOOTER */

  .instagram a {
    transition: 1s;

  }

  .instagram a:hover {
    transform: scale(1.1, 1.1) translateX(15px);
    color: violet;
  }

  .whatsapp a {
    transition: 1s;
  }

  .whatsapp a:hover {
    transform: scale(1.1, 1.1) translateX(15px);
    color: green;
  }

  .email a {
    transition: 1s;
  }

  .email a:hover {
    transform: scale(1.1, 1.1) translateX(15px);
    color: red;

  }

  .irArriba a svg {
    transition: 1s;

  }

  .irArriba a svg:hover {
    transform: scale(2, 2);


  }

  /* NOSOTROS */
  .serviciosBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1rem;
    padding: 0rem;
    background-color: #edeeef;
    width: 90vw;
    height: auto;
  }

  .fotoBox {
    padding-left: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 4px 0px 0px 4px;
    background-color: #edeeef;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    height: 35vh;
    width: 80vw;
  }

  .fotoServicios {
    height: 30vh;
    width: 70vw;
    border-radius: 8px;
  }

  .servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: inherit;
    background-color: #edeeef;
    border-radius: 8px;
    height: auto;
    width: 90vw;

  }

  .servicios h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-style: bold;
  }

  .listaServicios {
    font-size: 1.5rem;
    padding: 0.5rem;
    height: auto;
    width: auto;
    text-decoration: none;
  }

  .listaServicios li {
    padding: 0.5rem 1rem 0.5rem 1rem;
    list-style: none;
  }

  .nosotrosBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: unset;
    background-color: #edeeef;
    height: auto;
    width: fit-content;
    border-radius: 4px 4px 4px 4px;

    div {
      height: auto;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      margin: 1rem;

      p {
        font-size: 1.5rem;
        padding: 00.5rem;
        width: auto;
        max-height: fit-content;
        min-height: 10vh;
      }

    }


  }

  .fotosNos {
    height: 30vh;
    width: 80vw;
    padding: 1rem 1rem;
    border-radius: 8px;
    -webkit-animation-name: fotosNos;
    animation-name: fotosNos;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  .textoNos {
    font-size: 1.5rem;
    padding: 00.5rem 0.5rem;
  }





  /* CONTACTO */
  .seccionContacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 75vh;
    width: 95vw;
    background-color: #0f2f56;
    justify-content: space-between;
    align-self: flex-start;
    align-content: flex-start;
  }

  .nuestrosDatos {
    display: inline-flex;
    flex-direction: column;
    height: 30vh;
    width: 80vw;
    border-radius: 8px;
    justify-content: space-evenly;
    align-self: center;
    align-content: center;

  }

  .horariosContacto {
    height: 9vh;
    width: 80vw;
    padding: 0.5rem;
    font-size: 1.7rem;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .telefonoContacto {
    height: 5vh;
    width: 80vw;
    padding: 0.5rem;
    font-size: 1.7rem;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .emailContacto {
    height: 5vh;
    width: 80vw;
    padding: 0.5rem;
    font-size: 1.7rem;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .formulario {
    border-radius: 8px 8px 8px 8px;
    padding: 0.5rem;
    width: 80vw;
    height: 50vh;
    margin: 1rem;
    background-color: #0f2f56;
    color: #edeeef;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    align-content: center;

  }

  .nombreConsulta {
    grid-area: nombre;
    margin: 0rem;
    border-radius: 4px;

    label {
      font-size: 1.7rem;
    }
  }

  .telefonoConsulta {
    grid-area: telefono;
    margin: 0rem;
    border-radius: 4px;

    label {
      font-size: 1.7rem;
    }
  }

  .emailConsulta {
    grid-area: email;
    margin: 0rem;
    border-radius: 4px;

    label {
      font-size: 1.7rem;
    }
  }

  .consulta {
    grid-area: consulta;
    margin: 0rem;
    border-radius: 4px;

    label {
      font-size: 1.7rem;
    }
  }

  .consulta textarea {
    width: 70vw;
  }

  .enviar {
    font-family: 'Montserrat', sans-serif;
    grid-area: enviar;
    padding: 0.3rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }



  /* Animaciones Formulario */


  .nombreConsulta :hover {
    transform: scale(1.1, 1.1);
  }

  .telefonoConsulta :hover {
    transform: scale(1.1, 1.1);
  }

  .emailConsulta :hover {
    transform: scale(1.1, 1.1);
  }

  .consulta :hover {
    transform: scale(1.1, 1.1) translateY(5px);
  }

  .enviar :hover {
    transform: scale(1.1, 1.1);
  }

  /* BREADCRUMBS */
  .breadcrumb {
    padding: 1rem 1.3rem;
    list-style: none;
    background-color: #edeeef;
  }

  .breadcrumb li {
    display: inline;
    font-size: 1.5rem;
  }

  .breadcrumb li+li:before {
    padding: 0.3rem;
    color: #0a2947;
    content: "/\00a0";
  }

  .breadcrumb li a {
    color: #0a2947;
    text-decoration: none;
    transition: transform 1s;
  }

  /* ANIMACION */


  .breadcrumb li:hover {
    transform: scale(1.05, 1.05);
  }

  /* ALQUILERES */
  .seccionAlquileres {
    padding: 3rem;
    background-color: #0f2f56;
  }

  /* VENTAS */


  .seccionVentas {
    padding: 3rem;
    background-color: #0f2f56;

  }

  .titulo-producciones {
    font-size: 2rem;
  }

  .texto-producciones {
    font-size: 1.5rem;
  }

  .botonVisitar {
    background-color: #0a2947;
    border: #0f2f56;
    font-size: 1.2rem;
  }


  /* VISTA PROPIEDADES */
  .propiedades {
    background-color: #0a2947;
    border-radius: 8px;
    margin: 1rem auto 1rem auto;
    padding: 1rem !important;
    height: auto;
    width: 80vw;
  }

  .descripcionPropiedades {
    font-size: 1.5rem;
    background-color: #0f2f56;
    color: #edeeef;
    width: 80vw;
    height: auto;
    margin: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: flex-start;

    ul {
      margin-left: 2rem;
      list-style: circle;
      height: auto;
      width: 60vw;

      li {
        padding: 0.5rem 0rem;
      }
    }

    p {
      margin: 0;
      padding: 1rem;
      height: auto;
      width: 80vw;

    }
  }

  strong {
    font-weight: 700;
  }



  /* FORMULARIO PROPIEDADES */
  .formularioPropiedades {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: auto;
    width: auto;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    background-color: #0f2f56;
    border-radius: 8px;
    margin: 1rem auto;

  }

  .nombreConsultaPropiedades {
    font-family: 'Montserrat', sans-serif;
    color: #edeeef;
    font-size: 1.5rem;
  }

  .telefonoConsultaPropiedades {
    font-family: 'Montserrat', sans-serif;
    color: #edeeef;
    font-size: 1.5rem;
  }

  .consultaPropiedades {
    font-family: 'Montserrat', sans-serif;
    color: #edeeef;
    font-size: 1.5rem;
    width: 70vw;
  }

  .enviarPropiedades {
    font-family: 'Montserrat', sans-serif;
    color: #edeeef;
    font-size: 1.5rem;
    align-self: center;
  }
}

/* MEDIA 540 A 767 */
@media screen and (max-width: 768px) and (min-width: 554px) {
  header {
    background-color: #0a2947;
  }

  .navegador {
    width: 100vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    align-self: flex-end;
  }

  .logoMG {
    padding-left: 0.5rem;

  }

  .menuNavegador {
    width: 100vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    align-self: flex-end;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .opcionesNav {
    list-style: none;

    a {
      font-size: 1.5rem;
      text-decoration: none;
      color: #edeeef;
    }
  }

  /* ANIMACION MENU */
  .inicio {
    transition: transform 1.3s;

  }

  .inicio:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  .nosotros {
    transition: transform 1.3s;
  }

  .nosotros:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  .venta {
    transition: transform 1.3s;
  }

  .venta:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  .alquileres {
    transition: transform 1.3s;
  }

  .alquileres:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  .contacto {
    transition: transform 1.3s;
  }

  .contacto:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  /* FOOTER */
  .footer {
    height: auto;
    width: auto;
    display: grid;
    background-color: #0a2947;
    font-size: 1.6rem;
    margin: 1rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "instagram irArriba divisorFooter"
        " whatsapp whatsapp whatsapp"
        "email email desarrolladoPor";
    justify-content: space-between;
    align-content: space-between;
        div {
        text-align: center;
        }
        a {
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
            color: #edeeef;
            padding: 0.5rem 1rem 0rem 1rem;
            display: flex;
        }


}

.logoInstagram {
    padding-right: 0.5rem;
    font-size: 2rem;

}

.logoWhatsapp {
    padding-right: 0.5rem;
    font-size: 2rem;

}

.logoEmail {
    padding-right: 0.5rem;
    font-size: 2rem;

}


.footer a img {
    align-self: center;
}



.instagram {
    height: auto;
    grid-area: instagram;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;


}

.whatsapp {
    height: auto;
    grid-area: whatsapp;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.email {
    height: auto;
    width: auto;
    grid-area: email;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 0.5rem;
}

.irArriba {
    height: auto;
    display: grid;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-area: irArriba;
}



.desarrolladoPor {
    height: auto;
    grid-area: desarrolladoPor;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    align-content: flex-end;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    
}


footer p {
    font-size: 1rem;
}

/* ANIMACION FOOTER */

.instagram a {
    transition: 1s;
    
}

.instagram a:hover {
    transform: scale(1.1, 1.1) translateX(15px);
        color:violet;
    
}

.whatsapp a{
    transition: 1s;
}

.whatsapp a:hover {
    transform: scale(1.1, 1.1) translateX(15px);
    color:green;
}

.email a {
    transition: 1s;
}

.email a:hover {
    transform: scale(1.1, 1.1) translateX(15px);
    color:red;

}
.irArriba a svg {
    transition: 1s;
    
}

.irArriba a svg:hover {
    transform: scale(2 , 2);
        
    
}

  /* MAPA */
  .tituloMapa {
    font-size: 1.8rem;

  }

  .iframeMapa {
    margin: 0;
    padding-left: 1.5rem;
  }

  /* NOSOTROS */
  .serviciosBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1rem;
    padding: 0rem;
    background-color: #edeeef;
    height: auto;
    width: 60vw;
  }

  .fotoBox {
    padding-left: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 4px 0px 0px 4px;
    background-color: #edeeef;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    height: 70%;
    width: 80%;
  }

  .fotoServicios {
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }

  .servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: inherit;
    background-color: #edeeef;
    border-radius: 0px 4px 4px 0px;
    height: 55%;
    width: 80%;
  }

  .servicios h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-style: bold;
  }

  .listaServicios {
    font-size: 2rem;
    padding: 0rem;
    text-decoration: none;
  }

  .listaServicios li {
    padding: 0.5rem 0.5rem 0.5rem 0rem;
  }

  .nosotrosBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #edeeef;
    height: auto;
    width: fit-content;
    border-radius: 4px 4px 4px 4px;
        div {
            height: auto;
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            margin: 1rem;
                p {
                    font-size: 2rem;
                    padding: 00.5rem;
                    width: 80vw;
                    max-height: fit-content;
                    min-height: 12vh;
                }

        }
       

}

  .fotosNos {
    height: 35vh;
    width: 60vw;
    padding: 1rem 1rem;
    border-radius: 8px;
    -webkit-animation-name: fotosNos;
    animation-name: fotosNos;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  .textoNos {
    font-size: 1.5rem;
    padding: 00.5rem 0.5rem;
  }





  /* CONTACTO */
  .cuerpoContacto {
    background-image: none;
  
}
.seccionContacto {
    height: fit-content;
    border-radius: 8px 8px 8px 8px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2rem auto;
    background-color: #0a2947 ;
    

}


.nuestrosDatos {
    border-radius: 8px 8px 8px 8px;
    margin: 1rem;
    height: fit-content;
    width: auto;
    background-color: #0f2f56;
    color: #edeeef;
    font-size: 1.5rem;
    grid-area: nuestrosDatos;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;

}

.horariosContacto {
    padding: 1rem 2rem 1rem 2rem;  
    height: auto;
    width: 30vw;
    
}

.telefonoContacto {
    padding: 1rem 2rem 1rem 2rem;  
    height: auto;
    width: 30vw;
}

.emailContacto {
    padding: 1rem 2rem 1rem 2rem;  
    height: auto;
    width: 30vw;
}

.emailContacto a {
    color: #edeeef;
    text-decoration: none;
}

/* FORMULARIO */
.formulario {
    border-radius: 8px 8px 8px 8px;
    padding: 1rem;
    width: auto;
    height: auto;
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #0f2f56;
    color: #edeeef;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
    align-content: center;

}

.nombreConsulta {
    margin: 0.5rem 2rem;
    height: auto;
    width: auto;
    border-radius: 4px;
    font-size: 1.5rem;
        input {
            margin-top: 0.5rem;
        }
}

.telefonoConsulta {
    margin: 0.5rem 2rem;
    height: auto;
    width: auto;
    border-radius: 4px;
    font-size: 1.5rem;
    input {
        margin-top: 0.5rem;
    }
}

.emailConsulta {
    margin: 0.5rem 2rem;
    height: auto;
    width: auto;   
    border-radius: 4px;
    font-size: 1.5rem;
    input {
        margin-top: 0.5rem;
    }

}

.consulta {
    margin: 0.5rem 2rem;
    height: auto;
    width: auto;
    border-radius: 4px;
    font-size: 1.5rem;
    textarea {
        margin-top: 0.5rem;
    }
}

.enviar {
    font-family: 'Montserrat', sans-serif;
    margin: 0.5rem 2rem;
    height: auto;
    width: auto;
    border-radius: 4px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-content: center;
}

.nombreConsulta label {
    font-size: 1.7rem;
}

.telefonoConsulta label {
    font-size: 1.7rem;
}

.emailConsulta {
    font-size: 1.7rem;
}

.consulta label {
    font-size: 1.7rem;
}

/* Animaciones Formulario */ 


.nombreConsulta :hover {
    transform: scale(1.1, 1.1);
}
.telefonoConsulta :hover {
    transform: scale(1.1, 1.1);
}
.emailConsulta :hover {
    transform: scale(1.1, 1.1) ;
}
.consulta :hover {
    transform: scale(1.1, 1.1) translateY(5px);
}
.enviar :hover {
    transform: scale(1.1, 1.1);
}
/* BREADCRUMBS */
.breadcrumb {
  padding: 1rem 1.5rem;
  list-style: none;
  background-color: #edeeef;
}

.breadcrumb li {
  display: inline;
  font-size: 1.5rem;
}

.breadcrumb li+li:before {
  padding: 0.5rem;
  color: #0a2947;
  content: "/\00a0";
}

.breadcrumb li a {
  color: #0a2947;
  text-decoration: none;
  transition: transform 1s;
}

/* ANIMACION */


.breadcrumb li:hover {
  transform: scale(1.05, 1.05);
}

/* ALQUILERES */ 
.seccionAlquileres {
  padding: 3rem;
  background-color: #0f2f56;
}

/* VENTAS */


.seccionVentas {
  padding: 3rem;
  background-color: #0f2f56;

}
.titulo-producciones {
  font-size: 2rem;
}

.texto-producciones {
  font-size: 1.5rem;
}

.botonVisitar {
  background-color: #0a2947;
  border: #0f2f56;
  font-size: 1.2rem;
}


/* VISTA PROPIEDADES */ 
.propiedades {
  background-color: #0a2947;
  border-radius: 8px;
  margin: 1rem auto 1rem auto;
  padding: 1rem !important;
  height: auto;
  width: 80vw;
}
.descripcionPropiedades {
  font-size: 1.7rem;
  background-color: #0f2f56;
  color: #edeeef;
  width: 80vw;
  height: auto;
  margin: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: flex-start;
  ul {
      margin-left: 2rem;
      list-style:circle;
      height: auto;
       width: 40vw;
      li {
          padding: 0.5rem 0rem;
      }
  }
   p {
       margin: 0;
       padding: 1rem;
       height: auto;
       width: 40vw;

   }
}
strong {
  font-weight:700 ;
}



/* FORMULARIO PROPIEDADES */ 
.formularioPropiedades {
  padding: 0rem 2rem 1rem 2rem;
  display: flex; 
  flex-direction: column;
  max-height: 100%;
  height: 30vh;
  width: auto;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  background-color: #0f2f56;
  border-radius: 8px;
  margin: 1rem auto ;
  
}

.nombreConsultaPropiedades {
  font-family: 'Montserrat', sans-serif;
  color: #edeeef;
  font-size: 1.5rem;
}
.telefonoConsultaPropiedades {
  font-family: 'Montserrat', sans-serif;
  color: #edeeef;
  font-size: 1.5rem;
}
.consultaPropiedades {
  font-family: 'Montserrat', sans-serif;
  color: #edeeef;
  font-size: 1.5rem;
}
.enviarPropiedades {
  font-family: 'Montserrat', sans-serif;
  color: #edeeef;
  font-size: 1.5rem;
  align-self: center;
}


/* 768  a 1280 */
@media only screen and (max-width: 1280px) and (min-width: 769px) {

  /* HEADER */
  header {
    background-color: #0a2947;
  }

  .navegador {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: flex-end;
  }

  .logoMG {
    padding-left: 2rem;
  }

  .menuNavegador {
    width: 70vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    align-self: flex-end;

  }

  .opcionesNav {
    list-style: none;

    a {
      font-size: 2.3rem;
      text-decoration: none;
      color: #edeeef;
    }
  }






  /* ANIMACION MENU */
  .inicio {
    transition: transform 1.3s;

  }

  .inicio:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  .nosotros {
    transition: transform 1.3s;
  }

  .nosotros:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  .venta {
    transition: transform 1.3s;
  }

  .venta:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  .alquileres {
    transition: transform 1.3s;
  }

  .alquileres:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }

  .contacto {
    transition: transform 1.3s;
  }

  .contacto:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
  }




  /* MAPA */
  /* MAPA */

  .mapa {
    background-color: #0f2f56;
    display: grid flex;
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-areas: "tituloMapa plano ejercicios";
  }

  .tituloMapa {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    grid-area: tituloMapa;
    font-size: 2.5rem;
    text-align: LEFT;
    color: #edeeef;
    padding: 1rem;
    margin-left: 1rem;

  }


  .plano {
    grid-area: plano;
    height: 50rem;
    width: 99%;
    float: center;

  }

  .iframeMapa {
    display: inline-flex;
    justify-content: space-evenly;
    align-self: center;
    align-content: center;
    margin: 1rem;
    width: 97vw;
  }


  /* FOOTER */
  /* FOOTER */

  .footer {
    height: 15vh;
    width: auto;
    display: grid;
    background-color: #0a2947;
    font-size: 1.6rem;
    margin: 1rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "instagram irArriba divisorFooter"
        " whatsapp whatsapp whatsapp"
        "email email desarrolladoPor";
    justify-content: space-between;
    align-content: space-between;
        div {
        text-align: center;
        }


  }

  .logoInstagram {
    padding-right: 0.5rem;
    font-size: 2rem;

  }

  .logoWhatsapp {
    padding-right: 0.5rem;
    font-size: 2rem;

  }

  .logoEmail {
    padding-right: 0.5rem;
    font-size: 2rem;

  }

  .footer a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #edeeef;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
  }
  .footer a img {
    align-self: center;
  }



  .instagram {
    height: auto;
    grid-area: instagram;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;


  }

  .whatsapp {
    height: auto;
    grid-area: whatsapp;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .email {
    height: auto;
    width: auto;
    grid-area: email;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .irArriba {
    height: auto;
    display: grid;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-area: irArriba;
  }



  .desarrolladoPor {
    height: auto;
    grid-area: desarrolladoPor;
    align-self: flex-end;
  }


  footer p {
    font-size: 1rem;
  }

  /* ANIMACION FOOTER */

  .instagram a {
    transition: 1s;

  }

  .instagram a:hover {
    transform: scale(1.1, 1.1) translateX(15px);
    color: violet;
  }

  .whatsapp a {
    transition: 1s;
  }

  .whatsapp a:hover {
    transform: scale(1.1, 1.1) translateX(15px);
    color: green;
  }

  .email a {
    transition: 1s;
  }

  .email a:hover {
    transform: scale(1.1, 1.1) translateX(15px);
    color: red;

  }

  .irArriba a svg {
    transition: 1s;

  }

  .irArriba a svg:hover {
    transform: scale(2, 2);


  }

  /* CONTACTANOS */
  /* CONTACTANOS */
  /* NUESTROS DATOS */
  .seccionContacto {
    height: fit-content;
    border-radius: 8px 8px 8px 8px;
    width: 97vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
    background-color: #0a2947;

  }

  .nuestrosDatos {
    border-radius: 8px 8px 8px 8px;
    margin: 1rem;
    width: 40vw;
    height: 25vh;
    background-color: #0f2f56;
    color: #edeeef;
    font-size: 1.5rem;
    grid-area: nuestrosDatos;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;

  }

  .horariosContacto {
    padding: 1rem 1rem 1rem 2rem;
    height: 9vh;
    width: 40vw;
    font-size: 1.5rem;

  }

  .telefonoContacto {
    padding: 1rem 1rem 1rem 2rem;
    height: 6vh;
    width: 40vw;
    font-size: 1.5rem;
  }

  .emailContacto {
    padding: 1rem 1rem 1rem 2rem;
    height: 6vh;
    width: 40vw;
    font-size: 1.5rem;
  }

  .emailContacto a {
    color: #edeeef;
    text-decoration: none;
  }

  /* FORMULARIO */
  .formulario {
    border-radius: 8px 8px 8px 8px;
    padding: 1rem;
    width: 40vw;
    height: 60%;
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #0f2f56;
    color: #edeeef;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
    align-content: flex-start;

  }

  .nombreConsulta {
    grid-area: nombre;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    font-size: 1.5rem;

  }

  .telefonoConsulta {
    grid-area: telefono;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    font-size: 1.5rem;
  }

  .emailConsulta {
    grid-area: email;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    font-size: 1.5rem;

  }

  .consulta {
    grid-area: consulta;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    font-size: 1.5rem;

  }
  .consulta textarea {
    width: 30vw;
  }

  .enviar {
    font-family: 'Montserrat', sans-serif;
    grid-area: enviar;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    font-size: 1.5rem;
  }

  .nombreConsulta label {
    font-size: 1.7rem;
  }

  .telefonoConsulta label {
    font-size: 1.7rem;
  }

  .emailConsulta {
    font-size: 1.7rem;
  }

  .consulta label {
    font-size: 1.7rem;
  }

  /* Animaciones Formulario */


  .nombreConsulta :hover {
    transform: scale(1.1, 1.1);
  }

  .telefonoConsulta :hover {
    transform: scale(1.1, 1.1);
  }

  .emailConsulta :hover {
    transform: scale(1.1, 1.1);
  }

  .consulta :hover {
    transform: scale(1.1, 1.1) translateY(5px);
  }

  .enviar :hover {
    transform: scale(1.1, 1.1);
  }



  /* NOSOTROS */
  /* NOSOTROS */
  /* SERVICIOS */
  .nosotrosServicios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0f2f56;
    width: 100%;
  }


  .serviciosBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    background-color: #edeeef;
    height: 40%;


  }

  .fotoBox {

    border-radius: 4px 0px 0px 4px;
    background-color: #edeeef;
    justify-content: space-evenly;
    height: 55%;
    padding: 0;

  }

  .fotoServicios {
    height: 100%;
    width: 100%;
    border-radius: 8px;


  }

  .servicios {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-top: 2rem;
    background-color: #edeeef;
    border-radius: 0px 4px 4px 0px;
    height: 55%;

    h3 {
      font-size: 3rem;
      text-align: center;
      font-style: bold;

    }

  }


  .listaServicios {
    font-size: 2rem;

    li {
      padding: 2rem 2rem 2rem 0rem;
    }
  }



  /* NOSOTROS */
  .nosotrosBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #edeeef;
    height: auto;
    width: fit-content;
    border-radius: 4px 4px 4px 4px;
        div {
            height: auto;
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            margin: 1rem;
                p {
                    font-size: 2rem;
                    padding: 00.5rem;
                    width: auto;
                    max-height: fit-content;
                    min-height: 23vh;
                }

        }
       


  }
  .fotosNos {
    height: 30vh;
    width: 28vw;
    padding: 0.5rem;
    border-radius: 8px;
    animation-name: fotosNos;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

  }

  .textoNos {
    font-size: 2rem;
    padding: 00.5rem;
  }

  /* ALQUILERES */
  .seccionAlquileres {
    padding: 3rem;
    background-color: #0f2f56;
  }

  /* VENTAS */

  .seccionVentas {
    padding: 3rem;
    background-color: #0f2f56;

  }

  .titulo-producciones {
    font-size: 2rem;
  }

  .texto-producciones {
    font-size: 1.5rem;
  }




  /* VISTA PROPIEDADES */
  .propiedades {
    background-color: #0a2947;
    border-radius: 8px;
    margin-top: 5px;
  }



  .acordeon {
    display: grid;
    padding: 3rem 1.25rem;
    font-size: 1.2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .barrio {
    flex-direction: 3;
  }


  /* FORMULARIO PROPIEDADES */
  .formularioPropiedades {
    padding-left: 1.5rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 45vh;
    width: auto;
    justify-content: space-around;
    align-items: flex-start;

  }

  .nombreConsultaPropiedades {
    font-family: 'Montserrat', sans-serif;
    color: #edeeef;
    font-size: 1.5rem;
  }

  .telefonoConsultaPropiedades {
    font-family: 'Montserrat', sans-serif;
    color: #edeeef;
    font-size: 1.5rem;
  }

  .consultaPropiedades {
    font-family: 'Montserrat', sans-serif;
    color: #edeeef;
    font-size: 1.5rem;
  }

  .enviarPropiedades {
    font-family: 'Montserrat', sans-serif;
    color: #edeeef;
    font-size: 1.5rem;
    align-self: center;
  }
}
}