@import "fuentes";
@import "main";








/* HEADER */
header {
    background-color: #0a2947;
}
.navegador {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: flex-end;    
}
.logoMG {
    margin-left: 3rem;
}

.menuNavegador {
    width: 50vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    align-self: flex-end;
    margin-bottom: 0rem !important;

}

.opcionesNav {
    list-style: none;
    a {
        font-size: 2.3rem;
        text-decoration: none;
        color:#edeeef
    }
}






/* ANIMACION MENU */
.inicio {
    transition: transform 1.3s;
    
}

.inicio:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
}

.nosotros {
    transition: transform 1.3s;
}

.nosotros:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
}

.venta {
    transition: transform 1.3s;
}

.venta:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
}

.alquileres {
    transition: transform 1.3s;
}

.alquileres:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
}

.contacto {
    transition: transform 1.3s;
}

.contacto:hover {
    transform: scale(1.2, 1.2);
    transform: translateY(-10px);
}




/* MAPA */
/* MAPA */

.mapa {
    background-color: #0f2f56;
    display: grid flex;
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-areas: "tituloMapa plano";
    margin:auto;

}

.tituloMapa {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    grid-area: tituloMapa;
    font-size: 2.5rem;
    text-align: LEFT;
    color: #edeeef;
    padding: 1rem;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}


.plano {
    grid-area: plano;
    height: 55rem;
    width: 98%;
    margin:auto;
    margin-bottom: 3rem;
}
.iframeMapa {
    display: block;
    justify-content: space-evenly;
    text-align: center;
    align-self: center;
    align-content: center;
    width: 95%;
    margin:auto;
    

}


/* FOOTER */
/* FOOTER */
.footer {
    height: 15vh;
    width: auto;
    display: grid;
    background-color: #0a2947;
    font-size: 1.6rem;
    margin: 1rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "instagram irArriba divisorFooter"
        " whatsapp whatsapp whatsapp"
        "email email desarrolladoPor";
    justify-content: space-between;
    align-content: space-between;
        div {
        text-align: center;
        }


}

.logoInstagram {
    padding-right: 0.5rem;
    font-size: 2rem;

}

.logoWhatsapp {
    padding-right: 0.5rem;
    font-size: 2rem;

}

.logoEmail {
    padding-right: 0.5rem;
    font-size: 2rem;

}

.footer a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #edeeef;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
}
.footer a img {
    align-self: center;
}



.instagram {
    height: auto;
    grid-area: instagram;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;


}

.whatsapp {
    height: auto;
    grid-area: whatsapp;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.email {
    height: auto;
    width: auto;
    grid-area: email;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.irArriba {
    height: auto;
    display: grid;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-area: irArriba;
}



.desarrolladoPor {
    height: auto;
    grid-area: desarrolladoPor;
    align-self: flex-end;
}


footer p {
    font-size: 1rem;
}

/* ANIMACION FOOTER */

.instagram a {
    transition: 1s;
    
}

.instagram a:hover {
    transform: scale(1.1, 1.1) translateX(15px);
        color:violet;
    
}

.whatsapp a{
    transition: 1s;
}

.whatsapp a:hover {
    transform: scale(1.1, 1.1) translateX(15px);
    color:green;
}

.email a {
    transition: 1s;
}

.email a:hover {
    transform: scale(1.1, 1.1) translateX(15px);
    color:red;

}
.irArriba a svg {
    transition: 1s;
    
}

.irArriba a svg:hover {
    transform: scale(2 , 2);
        
    
}

/* CONTACTANOS */
/* CONTACTANOS */
/* NUESTROS DATOS */

.cuerpoContacto {
    background-image: radial-gradient(#0f2f56, #edeeef , #0a2947 );
  
}
.seccionContacto {
    height: fit-content;
    border-radius: 8px 8px 8px 8px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2rem auto;
    background-color: #0a2947 ;
    

}


.nuestrosDatos {
    border-radius: 8px 8px 8px 8px;
    margin: 1rem;
    height: fit-content;
    width: 30vw;
    background-color: #0f2f56;
    color: #edeeef;
    font-size: 1.5rem;
    grid-area: nuestrosDatos;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;

}

.horariosContacto {
    padding: 1rem 2rem 1rem 2rem;  
    height: auto;
    width: 25vw;
    
}

.telefonoContacto {
    padding: 1rem 2rem 1rem 2rem;  
    height: auto;
    width: 25vw;
}

.emailContacto {
    padding: 1rem 2rem 1rem 2rem;  
    height: auto;
    width: 25vw;
}

.emailContacto a {
    color: #edeeef;
    text-decoration: none;
}

/* FORMULARIO */
.formulario {
    border-radius: 8px 8px 8px 8px;
    padding: 1rem;
    width: auto;
    height: auto;
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #0f2f56;
    color: #edeeef;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
    align-content: center;

}

.nombreConsulta {
    margin: 0.5rem 2rem;
    height: auto;
    width: auto;
    border-radius: 4px;
    font-size: 1.5rem;
        input {
            margin-top: 0.5rem;
        }
}

.telefonoConsulta {
    margin: 0.5rem 2rem;
    height: auto;
    width: auto;
    border-radius: 4px;
    font-size: 1.5rem;
    input {
        margin-top: 0.5rem;
    }
}

.emailConsulta {
    margin: 0.5rem 2rem;
    height: auto;
    width: auto;   
    border-radius: 4px;
    font-size: 1.5rem;
    input {
        margin-top: 0.5rem;
    }

}

.consulta {
    margin: 0.5rem 2rem;
    height: auto;
    width: auto;
    border-radius: 4px;
    font-size: 1.5rem;
    textarea {
        margin-top: 0.5rem;
    }
}

.enviar {
    font-family: 'Montserrat', sans-serif;
    margin: 0.5rem 2rem;
    height: auto;
    width: auto;
    border-radius: 4px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-content: center;
}

.nombreConsulta label {
    font-size: 1.7rem;
}

.telefonoConsulta label {
    font-size: 1.7rem;
}

.emailConsulta {
    font-size: 1.7rem;
}

.consulta label {
    font-size: 1.7rem;
}

/* Animaciones Formulario */ 


.nombreConsulta :hover {
    transform: scale(1.1, 1.1);
}
.telefonoConsulta :hover {
    transform: scale(1.1, 1.1);
}
.emailConsulta :hover {
    transform: scale(1.1, 1.1) ;
}
.consulta :hover {
    transform: scale(1.1, 1.1) translateY(5px);
}
.enviar :hover {
    transform: scale(1.1, 1.1);
}



/* NOSOTROS */
/* NOSOTROS */
/* SERVICIOS */
.nosotrosServicios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
    align-content: center ;
    background-color: #0f2f56;
    
}


.serviciosBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: #edeeef;
    width: 70vw;
    max-height: auto;
    min-height: 80vh;


}

.fotoBox {

    border-radius: 4px 0px 0px 4px;
    background-color: #edeeef;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 45vh;
    width: 40vw;
}

.fotoServicios {
    height: 32vh;
    width: 25vw;
    border-radius: 8px;
}

.servicios {
    display: flex;
    flex-direction: column;
    background-color: #edeeef;
    border-radius: 0px 4px 4px 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 45vh;
    width: 40vw;

    
    h3 {
        font-size: 3rem;
        text-align: center;
        font-style: bold;
    
    }

}


.listaServicios {
    font-size: 2rem;
    li {
        padding: 2rem 2rem 2rem 0rem;
    }
}



/* NOSOTROS */
.nosotrosBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #edeeef;
    height: auto;
    width: fit-content;
    border-radius: 4px 4px 4px 4px;
        div {
            height: auto;
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            margin: 1rem;
                p {
                    font-size: 2rem;
                    padding: 00.5rem;
                    width: auto;
                    max-height: fit-content;
                    min-height: 23vh;
                }

        }
       

}

.fotosNos {
    height: 35vh;
    width: 30vw;
    padding: 0.5rem;
    display: block;
    border-radius: 8px;
    animation-name: fotosNos;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}



/* BREADCRUMBS */
.breadcrumb {
    padding: 1rem 1.5rem;
    list-style: none;
    background-color: #edeeef;
}

.breadcrumb li {
    display: inline;
    font-size: 1.5rem;
}

.breadcrumb li+li:before {
    padding: 0.5rem;
    color: #0a2947;
    content: "/\00a0";
}

.breadcrumb li a {
    color: #0a2947;
    text-decoration: none;
    transition: transform 1s;
}

/* ANIMACION */


.breadcrumb li:hover {
    transform: scale(1.05, 1.05);
}

/* ALQUILERES */ 
.seccionAlquileres {
    padding: 3rem;
    background-color: #0f2f56;
}

/* VENTAS */


.seccionVentas {
    padding: 3rem;
    background-color: #0f2f56;

}
.titulo-producciones {
    font-size: 2rem;
}

.texto-producciones {
    font-size: 1.5rem;
}

.botonVisitar {
    background-color: #0a2947;
    border: #0f2f56;
    font-size: 1.2rem;
}


/* VISTA PROPIEDADES */ 
.propiedades {
    background-color: #0a2947;
    border-radius: 8px;
    margin: 1rem auto 1rem auto;
    padding: 1rem !important;
    height: auto;
    width: 80vw;
}
.descripcionPropiedades {
    font-size: 1.7rem;
    background-color: #0f2f56;
    color: #edeeef;
    width: 80vw;
    height: auto;
    margin: auto;
     p {
         margin: 0;
         padding: 1rem;

     }
}



/* FORMULARIO PROPIEDADES */ 
.formularioPropiedades {
    padding: 0rem 2rem 1rem 2rem;
    display: flex; 
    flex-direction: column;
    max-height: 100%;
    height: 60vh;
    width: auto;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    background-color: #0f2f56;
    border-radius: 8px;
    margin: 1rem auto ;
    
}

.nombreConsultaPropiedades {
    font-family: 'Montserrat', sans-serif;
    color: #edeeef;
    font-size: 1.5rem;
}
.telefonoConsultaPropiedades {
    font-family: 'Montserrat', sans-serif;
    color: #edeeef;
    font-size: 1.5rem;
}
.consultaPropiedades {
    font-family: 'Montserrat', sans-serif;
    color: #edeeef;
    font-size: 1.5rem;
}
.enviarPropiedades {
    font-family: 'Montserrat', sans-serif;
    color: #edeeef;
    font-size: 1.5rem;
    align-self: center;
}

/* ERROR 404 */ 

.sectionError {
    background-color: #0f2f56;
}

.error404 {
    padding: 2rem;
    background-color: #0f2f56;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-content: center;
    h2 {
        font-size: 2rem;
        color: #edeeef;
    }
    p {
        font-size: 1.6rem;
        color: #edeeef;
    }
}

.tituloMapaError {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    grid-area: tituloMapa;
    font-size: 2.5rem;
    text-align: LEFT;
    color: #0a2947;
    padding: 1rem;
    margin-left: 1rem;

}

/* KEYFRAMES FOTOS NOSOTROS */
@keyframes fotosNos {
    0% {
        transform: translate(0%, 0);
    }

    50% {
        transform: translate(0%, 10px);
    }

    100% {
        transform: translate(0%, 0);

    }
}




/*
@import "mediaQ";
*/
